<%= form_with(model: inventory, local: true) do |form| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="row">
    <% Product.all.group_by{ |product| product.catagorie }.each do |catagorie, products| %>

      <div class="underline row">
        </br><h1><%= catagorie %></h1></br>
      </div>
      <div class="row">
        <% products.each do |product| %>

          <%= fields_for "inventory[]", inventory do |pf| %>

              <div class="float-left column small-4 column medium-2 columns large-1 columns">
                <%= pf.number_field :amount, class: :text_field, step: :any %>
              </div>
              <div class="float-left column small-8 columns column medium-4 large-3 columns">
                <h3><%= product.name %></h3>
                <%= pf.hidden_field :product_id, value: product.id %>
                <%= pf.hidden_field :user_id, value: current_user.id %>
                <%= pf.hidden_field :number, value:  1 %></br></br></br>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <%= form.submit %>
    </div>


<% end %>
