<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :start_date, :value => date %>
  <%= form.hidden_field :day, :value => date.day %>
  <%= form.hidden_field :month, :value => date.month %>
  <%= form.hidden_field :year, :value => date.year %>

  <%= form.select :user1, User.pluck(:first_name, :id), include_blank: true %></br>
  <%= form.label :user1finish, "Start" %>
  <%= form.select :user1start, options_for_select(@times, selected=1200) %>
  <%= form.label :user1finish, "Finish" %>
  <%= form.select :user1finish, options_for_select(@times, selected=530) %></br><hr>

  <%= form.select :user2, User.pluck(:first_name, :id), include_blank: true %></br>
  <%= form.label :user2finish, "Start" %>
  <%= form.select :user2start, options_for_select(@times, selected=500) %>
  <%= form.label :user2finish, "Finish" %>
  <%= form.select :user2finish, options_for_select(@times, selected=1000) %></br><hr>

  <%= form.select :user3, User.pluck(:first_name, :id), include_blank: true %></br>
  <%= form.label :user3finish, "Start" %>
  <%= form.select :user3start, options_for_select(@times, selected=530) %>
  <%= form.label :user3finish, "Finish" %>
  <%= form.select :user3finish, options_for_select(@times, selected=1000) %></br><hr>

  <%= form.select :user4, User.pluck(:first_name, :id), include_blank: true %></br>
  <%= form.label :user4finish, "Start" %>
  <%= form.select :user4start, options_for_select(@times, selected=600) %>
  <%= form.label :user4finish, "Finish" %>
  <%= form.select :user4finish, options_for_select(@times, selected=100) %></br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
