<p id="notice"><%= notice %></p>

<h2>Schedules</h2>



  <%= week_calendar number_of_weeks: 1 do |date| %>
    <% day_shifts = [] %>
  <% Schedule.all.each do |schedule| %>
    <% if  schedule.shift.date == date.to_s %>
      <% day_shifts << schedule %>
    <% end %>
  <% end %>
  <% times = Schedule::TIMES %>

  <% if day_shifts != nil %>
    <% day_shifts = day_shifts.sort_by { |schedule| [times, schedule.shift.start]} %>
    <% day_shifts.each do |schedule| %>

      <%= schedule.user.first_name %> <%= schedule.user.last_name %></br>
      <%= schedule.shift.start %> - <%= schedule.shift.finish %></br>
      <%= link_to 'edit', edit_schedule_path(schedule) %>
      |<%= link_to 'delete', schedule, method: :delete, data: { confirm: 'Are you sure?' }  %></br><hr>
    <% end %>
  <% end %>
<% end %>

<% if params[:start_date] == nil %>
  <%= link_to 'New Schedule', new_schedule_path %>
<% else %>
  <%= link_to 'New Schedule', "/schedules/new?start_date=#{params[:start_date]}" %>
<% end %>

<div id='comments'>

</div>
