<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class"large-10 columns">

<table>
  <thead>
    <tr>
      <th class"large-2 columns">Catagorie</th>
      <th class"large-3 columns">Name</th>
      <th class"large-1 columns">Amount Needed</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% Product.all.group_by{ |product| product.catagorie }.each do |catagorie, products| %>
      <% products.each do |product| %>
        <tr>
          <td><%= product.catagorie %></td>
          <td><%= link_to product.name, product %></td>
          <td><%= product.amount_needed %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Deletes', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Product', new_product_path %>
