<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %></br>
  <strong>Catagorie:</strong>
  <%= @product.catagorie %></br>
  <strong>Amount Needed:</strong>
  <%= @product.amount_needed %></br>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
