<!DOCTYPE html>
<html>
  <head>
    <title>Twistee Treats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Passion+One:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" />
    <script src="https://use.fontawesome.com/4401ab1d42.js"></script>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text"><%= link_to 'Twistee Treats', root_path %></li>
          </ul>
      </div>

      <div class="top-bar-right">
        <ul class="menu">
          <% if user_signed_in? %>
          <li><%= link_to 'Profile', user_path(current_user) %></li>
          <li><%= link_to 'Schedule', schedules_path %></li>
          <li><%= link_to('Sign Out', destroy_user_session_path, method: :delete) %>
          </li>
          <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
          <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
          <% elsif flash[:alert] %>
          <div class="alert"><%= flash[:alert] %></div>
          <% end %>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
